extends layout

block content
    section#contact.section.section--contact.section--bg-img-cover.l-flex-col
                .section__titles.l-flex-col
                    h2.section__title.h-white-txt CONTACT US
                    h4.section__subtitle.h-white-txt Let us plan your next event!
                .section__form.l-container
                    form.form.form--contact
                        .form__inputs
                            .form__column
                                label.form__label.form__label--contact(for="conName") Your Name
                                input.form__input.form__input--contact(type="text" name="name" id="conName" placeholder="Your Name*" autofocus required)
                                label.form__label.form__label--contact(for="conEmail") Your Email
                                input.form__input.form__input--contact(type="email" name="email" id="conEmail" placeholder="Your Email*" autocomplete="username" required)
                                label.form__label.form__label--contact(name="conTelNo") Your Telephone Number
                                input.form__input.form__input--contact(type="tel" name="telNo" id="conTelNo" placeholder="123-456-7890*" minlength="9" maxlength="14" required)
                            .form__column
                                label.form__label.form__label--contact(name="conMessage") Describe Your Event
                                textarea.form__input.form__input--contact.form__textarea(type="textarea" name="message" id="conMessage" placeholder="Describe Your Event*" maxlength="1000" required)
                        .form__submit
                            button.btn.btn--contact(name="submit") Send Message
    section#dev.section.l-flex-col
            .section__dev
                .section__titles.l-flex-col
                    h2.section__title THE EVENTHOP TEAM
                    h4.section__subtitle Introducing the hard-working EventHop team members
                .section__portfolios.l-flex-stretch
                    .section__portfolio.l-flex-col
                        img.img__portfolio(src="/img/photos/zh.png")
                        h3 Zach Harmon
                        p.section__dev-role Full Stack Developer
                        .l-flex-stretch
                            a.anchor--portfolio(href="https://github.com/zachha" target="_blank")
                                img.img__dev-links(src="/img/icon/github-red.png")
                                img.img__dev-links(src="/img/icon/github.png")
                            a.anchor--portfolio(href="https://linkedin.com/in/zachha" target="_blank")
                                img.img__dev-links(src="/img/icon/linkedin-red.png")
                                img.img__dev-links(src="/img/icon/linkedin.png")
                    .section__portfolio.l-flex-col
                        img.img__portfolio(src="/img/photos/hj.jpeg")
                        h3 Harris Joseph
                        p.section__dev-role Full Stack Developer
                        .l-flex-stretch
                            a.anchor.anchor--portfolio(href="https://github.com/HarryCaveMan" target="_blank")
                                img.img__dev-links(src="/img/icon/github-red.png")
                                img.img__dev-links(src="/img/icon/github.png")
                            a.anchor--portfolio(href="https://linkedin.com/in/harris-joseph-422605104/" target="_blank")
                                img.img__dev-links(src="/img/icon/linkedin-red.png")
                                img.img__dev-links(src="/img/icon/linkedin.png")
                .dev__section--text
                    p The EventHop team is a pair of developers based around Durham, North Carolina.  We have a passion for coding and decided to make EventHop as a free application for users to plan group events with.  Feel free to check out our github or send us a message using the contact form at the top of the page with any suggestions/bugs or just to say Hello!

