extends layout

block content
    section#contact-content.contact.flex-center-all
            .contact__section.section.container.flex-center-all-column
                .contact__section--title.section__titles.flex-center-all-column
                    h2.contact__title.section__title CONTACT US
                    h4.contact__subtitle.section__subtitle Let us plan your next event!
                .contact__section--form.section__content
                    form.form.contact__form
                        .contact__form--inputs
                            .contact__form--left
                                label(for="conName") Your Name
                                input(type="text" name="name" id="conName" placeholder="Your Name*" autofocus required)
                                label(for="conEmail") Your Email
                                input(type="email" name="email" id="conEmail" placeholder="Your Email*" autocomplete="username" required)
                                label(name="conTelNo") Your Telephone Number
                                input(type="tel" name="telNo" id="conTelNo" placeholder="123-456-7890*" minlength="9" maxlength="14" required)
                            .contact__form--right
                                label(name="conMessage") Describe Your Event
                                textarea(type="textarea" name="message" id="conMessage" placeholder="Describe Your Event*" maxlength="1000" required)
                        .contact__form--submit
                            button.button.contact__button(name="submit") Send Message
    section#dev-content.dev.flex-center-all
            .dev__section.container.section.flex-center-all-column
                .dev__section--title.section__titles.flex-center-all-column
                    h2.dev__title.section__title THE EVENTHOP TEAM
                    h4.dev__subtitle.section__subtitle Introducing the hard-working EventHop team members
                .dev__section--portfolios.section__content.flex-stretch-row
                    .dev__section--portfolio.flex-center-all-column
                        img.portfolio__image(src="/img/photos/zh.png")
                        h3.portfolio__name Zach Harmon
                        p.portfolio__role Full Stack Developer
                        .portfolio__links.flex-stretch-row
                            a.portfolio__anchor(href="https://github.com/zachha" target="_blank")
                                img.portfolio__links--github.link__bottom(src="/img/icon/github-red.png")
                                img.portfolio__links--github.link__top(src="/img/icon/github.png")
                            a.portfolio__anchor(href="https://linkedin.com/in/zachha" target="_blank")
                                img.portfolio__links--linkedin.link__bottom(src="/img/icon/linkedin-red.png")
                                img.portfolio__links--linkedin.link__top(src="/img/icon/linkedin.png")
                    .dev__section--portfolio.flex-center-all-column
                        img.portfolio__image(src="/img/photos/hj.jpeg")
                        h3.portfolio__name Harris Joseph
                        p.portfolio__role Full Stack Developer
                        .portfolio__links.flex-stretch-row
                            a.portfolio__anchor(href="https://github.com/HarryCaveMan" target="_blank")
                                img.portfolio__links--github.link__bottom(src="/img/icon/github-red.png")
                                img.portfolio__links--github.link__top(src="/img/icon/github.png")
                            a.portfolio__anchor(href="https://linkedin.com/in/harris-joseph-422605104/" target="_blank")
                                img.portfolio__links--linkedin.link__bottom(src="/img/icon/linkedin-red.png")
                                img.portfolio__links--linkedin.link__top(src="/img/icon/linkedin.png")
                .dev__section--text.section__content
                    p The EventHop team is a pair of developers based around Durham, North Carolina.  We have a passion for coding and decided to make EventHop as a free application for users to plan group events with.  Feel free to check out our github or send us a message using the contact form at the top of the page with any suggestions/bugs or just to say Hello!

