extends layout

block content
    section#create__content.create
        .create__section.section.center__flex--column
            .create__section--title.section__titles.center__flex--column
                h2.create__title CREATE YOUR OWN EVENT
                h4.create__subtitle Choose up to Three Event Locations!
                .title__section.cards.container
                    .location__box.chosen
                        h3 Location #1
                        .locCard.locCard__background.chosen.shopFaint
                            form.loc__form.form
                                label(for="nameOne") First Stop:
                                textarea(name="name" id="nameOne" placeholder="First Location")
                                label(for="addressOne") Address:
                                textarea(name="address" id="addressOne")
                                label(for="telOne") Telephone Number:
                                textarea(name="telephone" id="telOne")
                            .locCard__overlay.hide
                                h2 Choose your first event type
                                button#locStart.button Let's Go!
                    .location__box.chosen
                        h3 Location #2
                        .locCard.locCard__background.bullLocal.chosen
                            .locCard__overlay
                                h2 Choose your second event type
                                button#locStart.button Let's Go!
                    .location__box.chosen
                        h3 Location #3
                        .locCard.locCard__background.chosen
                            .locCard__overlay
                                h2 Choose your last event type
                                button#locStart.button Let's Go!
                                
            .create__section--choose.section__content.center__flex--column
                .choose__section--title
                    h3.choose__title Choose a Type of Event
                .choose__section--buttons
                    button#cafe.button.map__button Cafe
                    button#bar.button.map__button Bar
                    button#restaurant.button.map__button Food
                    button#art_gallery.button.map__button Art
                    button#movie_theater.button.map__button Movie
                    button#spa.button.map__button.spa__button Spa
                .choose__section--map
                    h2.map__title Downtown Durham
                    #map
                .choose__section--dropdown
                    .choose__dropdown
                        label.choose__title(for="map-select") Then Choose a Location!
                        select#map__select.map__select(name="map-select")
                            option(value="") Select a Location!
                    .choose__button
                        button#addLoc.button.map__button.location__button Add Location
                .breakline
                .choose__section--infocards