extends layout

block content
    section#create__content.section.l-flex-col.h-width-100
        .section__titles.l-flex-col.h-width-100
            h2.section__title CREATE YOUR OWN EVENT
            h4.section__subtitle Choose up to Three Event Locations!
            .section__cards.l-container
                #locOne.section__location
                    h3.section__header.section__header--complete Location Complete
                    .create-card.create-card__background.create-card__background--shop
                        .create-card__overlay.overlayRed.s-chosen
                            h2.create-card__title Ninth Street Bakery
                            .create-card__info
                                p.create-card__text.locAddress 112 S Duke St, Durham, NC 27701, USA
                                p.create-card__text.event-card__stars Google Rating: 4.6
                            button#locStart.btn.btn--infocard.s-hide.s-disable Let's Go!
                            button#locOneLink.btn.btn--infocard.h-grow Website
                #locTwo.section__location
                    h3.section__header Location #2
                    .create-card.create-card__background.create-card__background--bullLocal
                        .create-card__overlay.create-card__overlay--black
                            h2.create-card__title Choose your next event type
                            button#locStart.btn.btn--infocard.btn--red.h-grow Let's Go!
                            button#locTwoLink.btn.btn--infocard.btn--red.s-hide.s-disable Website
                #locThree.section__location
                    h3.section__header.section__header--inactive Location #3
                    .create-card.create-card--inactive.create-card__background
                        .create-card__overlay.create-card__overlay--white
                            h2.create-card__title Choose your last event type
                            button#locStart.btn.btn--infocard.s-disabled Let's Go!
                            button#locThreeLink.btn.btn--infocard.btn--black.s-hide.s-disable Website
                            
        .section__map-choose.l-flex-col
            .section__title
                h3 Choose a Type of Event
            .section__map-btns.l-container
                button#cafe.btn.btn--map Cafe
                button#bar.btn.btn--map Bar
                button#restaurant.btn.btn--map Food
                button#art_gallery.btn.btn--map Art
                button#movie_theater.btn.btn--map Movie
                button#spa.btn.btn--map.spa__button Spa
            .section__map
                h2 Downtown Durham
                #map
            .section__dropdown
                .choose__dropdown
                    label.form__label.form__label--map(for="map-select") Then Choose a Location!
                    select#mapSelect.form__select(name="map-select")
                        option(value="") Select a Location!
                .choose__button
                    button#addLoc.btn.btn--map Add Location
            .breakline
            #infocards.l-container.l-flex-col
                .infocard
                    .infocard__body
                        h2.infocard__title Bull City Burger and Brewery
                        p.infocard__text.infocard__text--rating Google Ratings: <br>
                            - let review = {rating:3.3}
                            - let ratingMod = review.rating % 1;
                            - let ratingRounded = review.rating - ratingMod
                            span.stars(title= `Rated ${review.rating} out of 5 stars`)
                                if ratingMod < 0.25
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else if ratingMod > 0.75
                                    - let rate = ratingRounded + 1
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    span.star-icon.half
                                        = `☆`
                                    = `☆`.repeat(5 - (rate + 1))
                        p.infocard__text.infocard__text--address 107 E Parrish St, Durham, NC 27701, USA
                        p.infocard__text.infocard__text--phone Phone Number: (919) 680-2333
                        .infocard__footer
                            a.infocard__anchor.infocard__website(href="www.google.com" target="_blank") Website
                    .img__infocard-div
                            img.img__infocard(src="/img/photos/durham.jpeg")
                .infocard
                    .infocard__body
                        h2.infocard__title Fullsteam Brewery
                        p.infocard__text.infocard__text--rating Google Ratings: <br>
                            - review = {rating:4.6}
                            - ratingMod = review.rating % 1;
                            - ratingRounded = review.rating - ratingMod
                            span.stars(title= `Rated ${review.rating} out of 5 stars`)
                                if ratingMod < 0.25
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else if ratingMod > 0.75
                                    - let rate = ratingRounded + 1
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    span.star-icon.half
                                        = `☆`
                                    = `☆`.repeat(5 - (rate + 1))
                        p.infocard__text.infocard__text--address 726 Rigsbee Ave, Durham, NC 27701, USA
                        p.infocard__text.infocard__text--phone Phone Number: (919) 682-2337
                        .infocard__footer
                            a.infocard__anchor.infocard__website(href="www.google.com" target="_blank") Website
                    .img__infocard-div
                            img.img__infocard(src="/img/photos/durham.jpeg")
                .infocard.infocard--red
                    .infocard__body
                        h2.infocard__title Tobacco Road Sports Cafe
                        p.infocard__text.infocard__text--rating Google Ratings: <br>
                            - review = {rating:4.2}
                            - ratingMod = review.rating % 1;
                            - ratingRounded = review.rating - ratingMod
                            span.stars(title= `Rated ${review.rating} out of 5 stars`)
                                if ratingMod < 0.25
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else if ratingMod > 0.75
                                    - let rate = ratingRounded + 1
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    span.star-icon.half
                                        = `☆`
                                    = `☆`.repeat(5 - (rate + 1))
                        p.infocard__text.infocard__text--address 280 S Mangum St #100, Durham, NC 27701, USA
                        p.infocard__text.infocard__text--phone Phone Number: (919) 937-9909
                        .infocard__footer
                            a.infocard__anchor.infocard__anchor--white.infocard__website(href="www.google.com" target="_blank") Website
                    .img__infocard-div
                            img.img__infocard(src="/img/photos/durham.jpeg")
