extends layout

block content
    section#create__content.create
        .inner
            .create__section.section.container.center__flex--column
                .create__section--title.section__titles.center__flex--column
                    h2.create__title.section__title DOWNTOWN DURHAM
                .create__section--map.section__content
                    .map