extends layout

include mixins/_featEvents
include mixins/_popGroups

block content
    section#events__sponsored.section.l-flex-col.h-bg-grey
        +featEvents()
    section#events__groups.section.l-flex-col.h-bg-grey
        +popGroups()