extends layout

include mixins/_featEvents
include mixins/_popGroups

block content
    section#hero.section.section--hero.section--bg-img-cover.section--height-80.l-flex-col
        .section__titles
            h1.h-center-text Welcome To <span class="h-red">Event</span><span class="hop bounce-bottom">Hop</span>
            h2.section__subtitle--hero.h-center-text "Let's <span class="h-red">Do </span>Something!"
        .section__anchor
            a.btn.btn--red(href="#popGroups") Durham Style . . .       
    
    section#about.section.section--about.section--height-80.l-flex-col
        .section__titles.l-flex-col 
            h2.section__title ABOUT
            h4.section__subtitle Do It Like Durham!
        .section__cards.l-flex-stretch.l-container
            .card.card--about.l-flex-col
                .card__icon
                    img.img__about(src="/img/icon/eventhop-circle.png" alt="Sponsored Event Icon")
                .card__title
                    h3 Join a Sponsored Event
                .card__text
                    p Let us do the planning for you! At EventHop, we specialize in planning events. Our Event Planners make all of the arrangements so you can relax. EventHop also partners with Meetup.com Organizers to schedule social events.
            .card.card--about.l-flex-col
                .card__icon
                    img.img__about(src="/img/icon/coffee-whitecup.png" alt="Make Group Icon")
                .card__title
                    h3 Create Your Own Group
                .card__text
                    p Using EventHop you are able to create and customize an event. Whether you're planning some much needed "me" time for yourself or you're arranging an evening out with friends, you'll have an itinerary ready in no time.
            .card.card--about.l-flex-col
                .card__icon
                    img.img__about(src="/img/icon/group-redfg.png" alt="Group Icon")
                .card__title
                    h3 Join a Friend's Group
                .card__text
                    p View Event Meetups created by other users and join the ones that look interesting to you.  Take the stress out of meeting new people while in a relaxed setting. However you choose, let us help and have fun!

    section#featEvents.section.l-flex-col.h-bg-grey
        +featEvents()

    section#createMain.section.section--bg-img-cover.section--main-create.section--height-80.l-flex-col
        .section__titles.l-flex-col.h-center-text
            h2.section__title.h-white-txt OR...
            a.anchor--main-create.h-width-100(href="/create") Create Your Own Group
            h4.section__subtitle.h-white-txt You can invite others to join!
                    
    section#popGroups.section.l-flex-col.h-bg-grey
        +popGroups()
    