extends layout

block content
    section.hero
        p HERO HERO HERO
    
    section.about
        p ABOUT ABOUT ABOUT

    section.featuredEvents
        p EVENTS EVENTS EVENTS
        block featEvents

    section.mainCreate
        p CREATE CREATE CREATE
        block mainCreate

    section.popularGroups
        p GROUPS GROUPS GROUPS
        block popGroups
    