extends layout

block content
    section#hero__content.hero
        .inner
            .hero__section
                .hero__title
                    h1 Welcome To <span class="red">Event</span><span class="hop bounce-bottom">Hop</span>
                .hero__title--sub
                    h2.hero__sub Let's <span class="red">Do </span>Something
                .hero__title--click
                    a.hero__click--anchor(href="#popGroups") Durham Style . . .
    
    section#about__content.about
        .inner
            .about__section
                .about__section--title.center__flex--column
                    h2.about__title ABOUT
                    h3.about__subtitle Do It Like Durham!
                .about__section--cards
                    .about__section--card.center__flex--column
                        .about__section--card-icon
                        .about__section--card-title
                            h4 Join an EventHop sponsored Event
                        .about__section--card-text
                            p Let us do the planning for you! At EventHop, we specialize in planning events. Our Event Planners make all of the arrangements so you can relax. EventHop also partners with Meetup.com Organizers to schedule social events.
                    .about__section--card.center__flex--column
                        .about__section--card-icon
                        .about__section--card-title
                            h4 Create Your Own Group Meetup
                        .about__section--card-text
                            p Using EventHop you are able to create and customize an event. Whether you're planning some much needed "me" time for yourself or you're arranging an evening out with friends, you'll have an itinerary ready in no time.
                    .about__section--card.center__flex--column
                        .about__section--card-icon
                        .about__section--card-title
                            h4 Join a Group Meetup
                        .about__section--card-text
                            p View Group Meetups created by other users and join the ones that look interesting to you.  Take the stress out of meeting new people while in a relaxed setting. Talk about similar interests, work, or whatever is on your mind. However you choose, let us help and have fun!

    section#featEvents__content.featuredEvents
        p EVENTS EVENTS EVENTS
        block featEvents

    section#mainCreate__content.mainCreate
        p CREATE CREATE CREATE
        block mainCreate

    section#popGroups__content.popularGroups
        p GROUPS GROUPS GROUPS
        block popGroups
    