extends layout

include mixins/_loginForm
include mixins/_forgotForm

block content
    section#login__content.login
        .inner.login__inner.bg-grey
            .login__section.section__content
                +loginForm()
                +forgotForm()