extends layout

include mixins/_loginForm
include mixins/_forgotForm

block content
    section#login__content.login
        .l-flex-row.login__inner.h-bg-grey
            .login__section
                +loginForm()
                +forgotForm()