extends layout

block content
    section#register.section
        .l-flex-row
            form.form.form--register(action="/register" method="POST")
                h2.form__title Sign Up Today!
                label.form__label(for="name") Username
                input.form__input(type="text" name="name" value=`${form ? form.name : ''}` placeholder="Username" autofocus required)
                label.form__label(for="email") Email
                input.form__input(type="email" name="email" value=`${form ? form.name : ''}` placeholder="Email Address" autocomplete="username" required)
                label.form__label(for="password") Password
                input.form__input(type="password" name="password" value=`${form ? form.password : ''}` placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required)
                label.form__label(for="password2") Confirm Password
                input.form__input(type="password" name="password2" value=`${form ? form.password2 : ''}` placeholder="Confirm Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required)
                input.btn.btn--submit(type="submit" value="Register")
