mixin featEvents()
    .feat-events__section.section.center__flex--column
        .feat-events__header.section__titles.center__flex--column
            h2.feat-events__header--title.section__title EVENTS
            h4.feat-events__header--subtitle.section__subtitle Check out our EventHop sponsored events!
        .feat-events__section--events.section__content.container
            .cards.event-cards
                .event-card
                    a.event__link(href="/events/early-bird")
                        img.event__image.img-fluid(src="/img/photos/event-01.jpg")
                    .event__text
                        h3.event__text--title Early Bird
                        h4.event__text--subtitle Coffee | Exploration | Brunch
                .event-card
                    a.event__link(href="/events/south-by-southpoint")
                        img.event__image.img-fluid(src="/img/photos/event-02.jpg")
                    .event__text
                        h3.event__text--title South By Southpoint
                        h4.event__text--subtitle Lunch | Books | Dessert
                .event-card
                    a.event__link(href="/events/nightlife-cabaret")
                        img.event__image.img-fluid(src="/img/photos/event-03.jpg")
                    .event__text
                        h3.event__text--title Nightlife Cabaret
                        h4.event__text--subtitle Aperitif | Dinner | Lounge
                .event-card
                    a.event__link(href="/events/baseball-and-brews")
                        img.event__image.img-fluid(src="/img/photos/event-04.jpg")
                    .event__text
                        h3.event__text--title Baseball and Brews
                        h4.event__text--subtitle Sightseeing | Baseball | Nightcap
                .event-card
                    a.event__link(href="/events/one-night-on-broadway")
                        img.event__image.img-fluid(src="/img/photos/event-05.jpg")
                    .event__text
                        h3.event__text--title One Night On Broadway
                        h4.event__text--subtitle Cocktails | Broadway | Tapas
                
                
                
                


    