mixin featEvents()
    .section.l-flex-col
        .section__titles.l-flex-col
            h2.section__title EVENTS
            h4.section__subtitle Check out our EventHop sponsored events!
        .l-container
            .section__cards.event-cards
                .event-card
                    a.event-card__link(href="/events/early-bird")
                        img.image.h-img-fluid(src="/img/photos/event-01.jpg")
                    .event-card__text
                        h3.event-card__text--title Early Bird
                        h4.event-card__text--subtitle Coffee | Exploration | Brunch
                .event-card
                    a.event-card__link(href="/events/south-by-southpoint")
                        img.image.h-img-fluid(src="/img/photos/event-02.jpg")
                    .event-card__text
                        h3.event-card__text--title South By Southpoint
                        h4.event-card__text--subtitle Lunch | Books | Dessert
                .event-card
                    a.event-card__link(href="/events/nightlife-cabaret")
                        img.image.h-img-fluid(src="/img/photos/event-03.jpg")
                    .event-card__text
                        h3.event-card__text--title Nightlife Cabaret
                        h4.event-card__text--subtitle Aperitif | Dinner | Lounge
                .event-card
                    a.event-card__link(href="/events/baseball-and-brews")
                        img.image.h-img-fluid(src="/img/photos/event-04.jpg")
                    .event-card__text
                        h3.event-card__text--title Baseball and Brews
                        h4.event-card__text--subtitle Sightseeing | Baseball | Nightcap
                .event-card
                    a.event-card__link(href="/events/one-night-on-broadway")
                        img.image.h-img-fluid(src="/img/photos/event-05.jpg")
                    .event-card__text
                        h3.event-card__text--title One Night On Broadway
                        h4.event-card__text--subtitle Cocktails | Broadway | Tapas
                
                
                
                


    