mixin featEvents()
    .featEvents__section.center__flex--column
        .featEvents__section--title.center__flex--column
            h2.featEvents__title EVENTS
            h4.featEvents__subtitle Check out our EventHop sponsored events!
        .featEvents__section--events.space__flex--row
    