mixin featEvents()
    .featEvents__section.section.center__flex--column
        .featEvents__section--title.section__titles.center__flex--column
            h2.featEvents__title.section__title EVENTS
            h4.featEvents__subtitle.section__subtitle Check out our EventHop sponsored events!
        .featEvents__section--events.section__content.space__flex--row
    