mixin forgotForm()  
    form.form.form--forgot(action="/account/forgot" method="POST")
        h2.form__title I forgot my password!
        label.form__label(for="forgotEmail") Email Address
        input.form__input(type="email" name="email" id="forgotEmail" placeholder="Email Address" autocomplete="username" required)
        input.btn.submit__button(type="submit" value="Reset")