mixin forgotForm()
    form.form.container(action="/account/forgot" method="POST")
        h3.form__title I forgot my password!
        label(for="email") Email
        input(type="email" name="email")
        input.button.submit__button(type="submit" value="Send a Reset")