mixin loginForm()
    form.form.container.form__login(action="/login" method="POST")
        h2.form__title Login
        label(for="email") Email Address
        input(type="email" name="email" placeholder="Email Address" autocomplete="username" autofocus required)
        label(for="password") Password
        input(type="password" name="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required)
        input.button.submit__button(type="submit" name="submit" value="Log In")
            