mixin loginForm()
    form.form.form--login(action="/login" method="POST")
        h2.form__title Login
        label.form__label(for="loginEmail") Email Address
        input.form__input(type="email" name="email" id="loginEmail" placeholder="Email Address" autocomplete="username" autofocus required)
        label.form__label(for="loginPass") Password
        input.form__input(type="password" name="password" id="loginPass" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required)
        input.btn.submit__button(type="submit" name="submit" value="Log In")
            