mixin popGroups() 
    .popGroups__section.section.center__flex--column
        .popGroups__section--title.section__titles.center__flex--column
            h2.featEvents__title.section__title POPULAR GROUPS
            h4.featEvents__subtitle.section__subtitle Popular User Created Groups coming up!
        .popGroups__section--events.section__content.space__flex--row