mixin popGroups() 
    .popGroups__section.section.center__flex--column
        .popGroups__section--title.section__titles.center__flex--column
            h2.feat-events__header--title.section__title POPULAR GROUPS
            h4.feat-events__header--subtitle.section__subtitle Popular User Created Groups coming up!
        .popGroups__section--events.section__content.container
            .cards.event-cards
                .event-card.group__card
                    a.group__link(href="/events")
                        img.event__image.group__image.img-fluid(src="/img/photos/event-04-03.jpg")
                    .event__text.group__text
                        h3.event__text--title.group__text--title Brunch Crew
                        h4.event__text--subtitle.group__text--subtitle 11 members
                .event-card.group__card
                    a.group__link(href="/events")
                        img.event__image.group__image.img-fluid(src="/img/photos/event-02-03.jpg")
                    .event__text.group__text
                        h3.event__text--title.group__text--title BarHop
                        h4.event__text--subtitle.group__text--subtitle 10 members
                .event-card.group__card
                    a.group__link(href="/events")
                        img.event__image.group__image.img-fluid(src="/img/photos/event-02-06.jpg")
                    .event__text.group__text
                        h3.event__text--title.group__text--title Art and Coffee!
                        h4.event__text--subtitle.group__text--subtitle 8 members
                .event-card.group__card
                    a.group__link(href="/events")
                        img.event__image.group__image.img-fluid(src="/img/photos/para1.jpeg")
                    .event__text.group__text
                        h3.event__text--title.group__text--title Spa Day
                        h4.event__text--subtitle.group__text--subtitle 7 members
                .event-card.group__card
                    a.group__link(href="/events")
                        img.event__image.group__image.img-fluid(src="/img/photos/sparkler.jpeg")
                    .event__text.group__text
                        h3.event__text--title.group__text--title Movie Date Night
                        h4.event__text--subtitle.group__text--subtitle 6 members