mixin sponsored()
    section#sponsored__hero.sponsored__hero
        .sponsored__section--hero.section.center__flex--column
            .sponsored__title
                h2= event.name
                h4= event.byline
            .sponsored__image
                img.event__image(src=`/img/photos/${event.event_image}`)