mixin sponsored()
    section#sponsored-content.section
        .l-flex-col
            .section__titles
                h2.h-center-text= (event.name).toUpperCase()
                h4.h-center-text= event.byline
            .section__image
                img.image.h-img-fluid(src=`/img/photos/${event.event_image}`)
            .l-container
                p.section__text.h-center-text= event.event_description