//! the Button block styles basic eventhop buttons
//! (.btn)
.btn { 
    padding: 1.5rem;
    cursor: pointer;
    border: none;
    font-family: $headerFonts;
    color: $red;
    background-color: $bgBlack;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 600;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-sizing: border-box;
}
    //~ BUTTON MODIFIERS 
    //~ (.btn--modifier)
    .btn--hero {
        border: 1px solid $bgBlack;
    }

    .btn--infocard {
        grid-area: overlay-button;
        align-self: start;
        width: 60%;
        padding: 1.3rem;
        color: white;
    }

    .btn--white {
        color: $bgBlack;
        background-color: white;
    }

    .btn--map {
        width: 15%;
        padding: 1.3rem;
    }

    .btn--black {
        color: $red;
        background-color: $bgBlack;
    }

    .btn--red {
        color: white;
        background-color: $red;
    }

    .btn--submit {
        &:focus {
            border: 2px solid black;
        }
    }

    .btn--contact {
        border-radius: 4px;
        padding: 1.6rem;
        width: 25%;
        font-weight: 600;
        background-color: $red;
        color: black;
    }


//! Anchor Block styling
//! (.anchor)
.anchor--main-create {
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: $headerFonts;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    &:hover {
        border-color: $red;
        color: $red;
    }
}

.anchor--portfolio {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 0.5rem;
}


