// The Card block styles basic cards such as the about cards on the main page
.card {
    max-width: 33.333333%;
    box-sizing: border-box;
    border-radius: 4px;

    // CARD MODIFIERS
    // (.card--modifier)
    @at-root #{&}--about {
        box-sizing: border-box;
        text-align: center;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 33.333333%;
        float: left;
    }
}

// the Event Card block styles the event/group cards used on the main page and events page
.event-card {
    box-sizing: border-box;
    flex: 0 0 33.333333%;
    margin: 0 0 3rem;
    padding: 0 1.5rem;

    // EVENT CARD ELEMENTS
    // (.event-card__element)
    @at-root #{&}__body {
        background-color: white;
        text-align: center;
    }
    @at-root #{&}__title {
        margin-top: 0;
        padding-top: 1.5rem;
    }
    @at-root #{&}__subtitle {
        padding-bottom: 1.5rem;
    }
}


// the Create Card block styles the 'choose location'/'chosen summary' cards at the top of create page
.create-card {
    @include box-shadow($cardShadow);
    @extend %flex__center;
    height: 450px;
    flex-direction: column;
    opacity: 1.0;
    position: relative;
    

    // CREATE CARD ELEMENTS 
    // (.create-card__element)
    @at-root #{&}__title {
        grid-area: overlay-text;
        font-size: 3.5rem;
        margin: 2rem;
        color: inherit;
    }
    @at-root #{&}__text {
        color: inherit;
        font-family: $headerFonts;
        margin: 2rem;
        font-size: 2rem;
    }
    @at-root #{&}__info {
        grid-area: overlay-info;
        align-self: start;
    }
    @at-root #{&}__stars {
        margin-top: 1rem;
    }
    @at-root #{&}__overlay {
        border-radius: 4px;
        position: absolute;
        color: white;
        background-color: $rgbaRedEight;
        @extend %grid__center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: " overlay-text "
                             "overlay-button";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 10;

        // CREATE-CARD__OVERLAY MODIFIERS
        // (.create-card__overlay--modifier)
        @at-root #{&}--white {
            background-color: $rgbaWhiteSeven;
            color: $bgBlack;
        }
        @at-root #{&}--black {
            background-color: $rgbaBlackNine;
        }
    }
    // background image stylings for 'choose location' event-cards
    @at-root #{&}__background {
        background-image: $bull;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        // CREATE-CARD__BACKGROUND MODIFIERS 
        // (.create-card__background--modifier)
        @at-root #{&}--bullFaint {
            background-image: $bullFaint;
        }
        @at-root #{&}--shop {
            background-image: $shop;
        }
        @at-root #{&}--shopFaint {
            background-image: $shopFaint;
        }
        @at-root #{&}--bullLocal {
            background-image: $bullLocal;
        }
        @at-root #{&}--bullLocalFaint {
            background-image: $bullLocalFaint;
        }
    }

    // CREATE-CARD MODIFIERS
    // (.create-card--modifier)
    @at-root #{&}--inactive {
        opacity: 0.5;
    }
}

// The Infocard block styles the infocards for each location, which are dynamically generated using info from Google Maps API
.infocard {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    @include box-shadow($cardShadow);
    border-radius: 4px;
    width: 85%;
    height: auto;
    background-color: $rgbaBlack;
    color: white;

    // INFOCARD ELEMENTS
    // (.infocard__element)
    @at-root #{&}__img-div {
        width: 330px;
    }
    //
    //ABSTRACT INTO IMAGE BLOCK/MODIFIER        !!!
    //
    @at-root #{&}__img {
        border-radius: 4px;
        margin: 0 3rem;
    }
    //
    //ABSTRACT INTO IMAGE BLOCK/MODIFIER        !!!
    //
    @at-root #{&}__body {
        width: 664.5px;
        font-family: $headerFonts;
        font-size: 2rem;
        margin: 0;
    }
    @at-root #{&}__title {
        margin: 2.5rem;
        color: inherit;
    }
    @at-root #{&}__footer {
        height: 6rem;
        text-align: center;
    }
    @at-root #{&}__anchor {
        font-weight: 600;
        font-size: 2.5rem;
        padding: 0.8rem;
        margin: 0 1.5rem 3rem 1.5rem;
        border-radius: 4px;
        color: inherit;
        background-color: $red;

        // INFOCARD__ANCHOR MODIFIERS
        // (.infocard__anchor--modifier)
        @at-root #{&}--white {
            color: $bgBlack;
            background-color: white;
        }
    }
    @at-root #{&}__text {
        margin: 2rem;
        color: inherit;

        // INFOCARD__TEXT MODIFIERS
        // (.infocard__text--modifier)
        @at-root #{&}--rating {
            font-style: italic;
        }
        @at-root #{&}--address {
            margin-bottom: 0;
        }
        @at-root #{&}--phone {
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }

    // INFOCARD MODIFIERS
    // (.infocard--modifier)
    @at-root #{&}--red {
        background-color: $rgbaRedEight;
    }
}

// Styles the review stars on the infocards
.stars {
    margin-left: 1.5rem;
    color: #FFDF00;
    font-size: 3rem;
    font-style: normal;
}
.star-icon {
    position: relative;
    font-size: 3rem;
    font-style: normal;
}
.half:before {
    content: '\2605';
    position: absolute;
    left: 0;
    width :50%;
    overflow: hidden;
}
