// styles divs containing group cards (group cards, event cards, create cards, etc)
.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

// styles the 'choose location' cards at the top of create page
.locCard {
    @include box-shadow($cardShadow);
    @extend %flex__center;
    height: 450px;
    flex-direction: column;
    opacity: 0.5;
    position: relative;
    & p {
        color: white;
    }
    &.chosen {
        opacity: 1.0;
    }
    &.locCard__background {
        background-image: $bull;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.bullFaint {
        background-image: $bullFaint;
    }
    &.shop {
        background-image: $shop;
    }
    &.shopFaint {
        background-image: $shopFaint;
    }
    &.bullLocal {
        background-image: $bullLocal;
    }
    &.bullLocalFaint {
        background-image: $bullLocalFaint;
    }
    & .locCard__overlay {
        border-radius: 4px;
        position: absolute;
        @extend %grid__center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: " overlay-text "
                             "overlay-button";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        &.hide {
            opacity: 0.0;
        }
        & h2.locTitle {
            grid-area: overlay-text;
            font-size: 3.5rem;
            margin: 2rem;
        }
        & button {
            grid-area: overlay-button;
            align-self: start;
            width: 60%;
            padding: 1.3rem;
        }
        &.locChosen {
            grid-template-rows: 1fr 1fr 25%;
            grid-template-areas: " overlay-text "
                                 "overlay-info"
                                 "overlay-button";
            & p {
                color: white;
                font-family: $headerFonts;
                font-size: 2rem;
                margin: 0 2rem;
            }
            & .locInfo {
                grid-area: overlay-info;
                align-self: start;
            }
            & p.locStars {
                margin-top: 1rem;
            }
            & button.locWebsite {
                grid-area: overlay-button;
            }
        }
    }
}

.info__container {
    & .infocard__pic {
        
    }
    & .infocard {
        @extend %basic__card;
        display: flex;
        height: 250px;
        margin: 4rem 0;
        & .infocard__text {
        
        }
    }
}
