//! The Card block styles basic cards such as the about cards on the main page
//! (.card)
.card {
    max-width: 33.333333%;
    box-sizing: border-box;
    border-radius: 4px;
}
    //~ CARD MODIFIERS
    //~ (.card--modifier)
    .card--about {
        box-sizing: border-box;
        text-align: center;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 33.333333%;
        float: left;
    }


//! the Event Card block styles the event/group cards used on the main page and events page
//! (.event-card)
.event-card {
    box-sizing: border-box;
    flex: 0 0 33.333333%;
    margin: 0 0 3rem;
    padding: 0 1.5rem;
}
    //~ EVENT CARD ELEMENTS
    //~ (.event-card__element)
    .event-card__body {
        background-color: white;
        text-align: center;
    }

    .event-card__title {
        margin-top: 0;
        padding-top: 1.5rem;
    }

    .event-card__subtitle {
        padding-bottom: 1.5rem;
    }



//! the Create Card block styles the 'choose location'/'chosen summary' cards at the top of create page
//! (.create-card)
.create-card {
    @include box-shadow($cardShadow);
    @extend %flex__center;
    height: 450px;
    flex-direction: column;
    opacity: 1.0;
    position: relative;
}
    //~ CREATE CARD ELEMENTS 
    //~ (.create-card__element)
    .create-card__title {
        grid-area: overlay-text;
        font-size: 3.5rem;
        margin: 2rem;
        color: inherit;
    }

    .create-card__text {
        color: inherit;
        font-family: $headerFonts;
        margin: 2rem;
        font-size: 2rem;
    }

    .create-card__info {
        grid-area: overlay-info;
        align-self: start;
    }

    .create-card__stars {
        margin-top: 1rem;
    }

    .create-card__overlay {
        border-radius: 4px;
        position: absolute;
        color: white;
        background-color: $rgbaRedEight;
        @extend %grid__center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: " overlay-text "
                             "overlay-button";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
        //~ CREATE-CARD__OVERLAY MODIFIERS
        //~ (.create-card__overlay--modifier)
        .create-card__overlay--white {
            background-color: $rgbaWhiteSeven;
            color: $bgBlack;
        }

        .create-card__overlay--black {
            background-color: $rgbaBlackNine;
        }

    // background image stylings for 'choose location' create-cards
    .create-card__background {
        background-image: $bull;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
        //~ CREATE-CARD__BACKGROUND MODIFIERS 
        //~ (.create-card__background--modifier)
        .create-card__background--bullFaint {
            background-image: $bullFaint;
        }

        .create-card__background--shop {
            background-image: $shop;
        }

        .create-card__background--shopFaint {
            background-image: $shopFaint;
        }

        .create-card__background--bullLocal {
            background-image: $bullLocal;
        }

        .create-card__background--bullLocalFaint {
            background-image: $bullLocalFaint;
        }

    //~ CREATE-CARD MODIFIERS
    //~ (.create-card--modifier)
    .create-card--inactive {
        opacity: 0.5;
    }

//! The Infocard block styles the infocards for each location, which are dynamically generated using info from Google Maps API
//! (.infocard)
.infocard {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    @include box-shadow($cardShadow);
    border-radius: 4px;
    width: 85%;
    height: auto;
    background-color: $rgbaBlack;
    color: white;
}
    //~ INFOCARD ELEMENTS
    //~ (.infocard__element)
    .infocard__img-div {
        width: 330px;
    }

    .infocard__body {
        width: 664.5px;
        font-family: $headerFonts;
        font-size: 2rem;
        margin: 0;
    }

    .infocard__title {
        margin: 2.5rem;
        color: inherit;
    }

    .infocard__footer {
        height: 6rem;
        text-align: center;
    }

    .infocard__anchor {
        font-weight: 600;
        font-size: 2.5rem;
        padding: 0.8rem;
        margin: 0 1.5rem 3rem 1.5rem;
        border-radius: 4px;
        color: inherit;
        background-color: $red;
    }
        //~ INFOCARD__ANCHOR MODIFIERS
        //~ (.infocard__anchor--modifier)
        .infocard__anchor--white {
            color: $bgBlack;
            background-color: white;
        }

    .infocard__text {
        margin: 2rem;
        color: inherit;
    }
        //~ INFOCARD__TEXT MODIFIERS
        //~ (.infocard__text--modifier)
        .infocard__text--rating {
            font-style: italic;
        }

        .infocard__text--address {
            margin-bottom: 0;
        }

        .infocard__text--phone {
            margin-top: 0;
            margin-bottom: 2rem;
        }

    //~ INFOCARD MODIFIERS
    //~ (.infocard--modifier)
    .infocard--red {
        background-color: $rgbaRedEight;
    }

// Styles the review stars on the infocards
.stars {
    margin-left: 1.5rem;
    color: #FFDF00;
    font-size: 3rem;
    font-style: normal;
}
.star-icon {
    position: relative;
    font-size: 3rem;
    font-style: normal;
}
.half:before {
    content: '\2605';
    position: absolute;
    left: 0;
    width :50%;
    overflow: hidden;
}
