

.overlayRed {
    background: linear-gradient($rgbaRedEight, $rgbaRedEight);
    .create-card__title,
    .create-card__text {
        color: white;
    }
    .btn--infocard {
        color: $bgBlack;
        background-color: white;
    }
}
.overlayWhite {
    background: linear-gradient($rgbaWhiteSeven, $rgbaWhiteSeven);
    .create-card__title,
    .create-card__text {
        color: $bgBlack;
    }
    .btn--infocard {
        color: $red;
        background-color: $bgBlack;
    }
}
.overlayBlack {
    background: linear-gradient( $rgbaBlackNine, $rgbaBlackNine );
    .create-card__title,
    .create-card__text {
        color: white
    }
    .btn--infocard {
        color: white;
        background-color: $red;
    }
}


