input,
textarea {
    font-family: $headerFonts;
    font-size: 1.6rem;
    color: $placeholder;
    width: 30%;
    padding: 1.6rem;
    border: 1px solid $grey;
    border-radius: 0.4rem;
    &.input {
        &--error {
            border-color: $red;
        }
    }
}

input {
    &:focus {
        border: 2px solid black;
    }
}

label {
    font-family: $headerFonts;
    color: black;
    padding: 1rem 0;
    display: block;
    font-size: 2rem;
}

form.form--forgot,
form.form__register {
    margin-bottom: 6rem;
}

form .form__title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 2rem;
}

.login__inner {
    flex-direction: column;
}

.form__content {
    width: 100%;
}

.login__section, 
form.form__register {
    width: 80%;
}

