//! FORM BLOCK styles forms found on several pages
//! (.form)
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 2rem;
}

//~ FORM ELEMENTS
//~ (.form__element)
.form__submit {
    margin-top: 5rem;
    text-align: center;
}

.form__textarea {
    @extend %contact__inputs;
    width: 90%;
    height: 80%;
    resize: none;
}

.form__input {
    font-family: $headerFonts;
    font-size: 1.6rem;
    color: $placeholder;
    width: 30%;
    padding: 1.6rem;
    border: 1px solid $grey;
    border-radius: 0.4rem;
    &--error {
        border: 2px solid $red;
    }
}
    //~ FORM__INPUT MODIFIERS
    //~ (.form__input--modifier)
    .form__input--contact {
        @extend %contact__inputs;
        width: 90%;
    }

.form__select {
    text-align: center;
    width: 20%;
    padding: 1.3rem;
    font-size: 1.6rem;
    font-family: $headerFonts;
}

.form__label {
    font-family: $headerFonts;
    color: black;
    padding: 1rem 0;
    display: block;
    font-size: 2rem;
}
    //~ FORM__LABEL MODIFIERS
    //~ (.form__label--modifier)
    .form__label--map {
        font-weight: 400;
        font-size: 2.5rem;
        color: $red;
        margin-bottom: 2rem;
    }
    
    .form__label--contact {
        color: white;
        font-weight: 600;
    }

.form__title {
    text-align: center;
}

.form__column {
    width: 100%;
    display:flex;
    flex-direction: column;
}

.form__inputs {
    justify-content: center;
    display: flex;
}

//~ FORM MODIFIERS
//~ (.form--modifier)
.form--contact {
    background: none;
    width: 100%;
    justify-content: center;
    align-items: stretch;
}

.form--forgot {
    margin-bottom: 6rem;
}

.form--register {
    width: 80%;
    margin-bottom: 6rem;
}

//~ FORM FOCUS CLASSES
.form__input:focus,
.form__input--contact:focus,
.form__textarea:focus,
.btn--contact:focus {
    border: 2px solid black;
}



