.button { 
    cursor: pointer;
    border: none;
    font-family: $headerFonts, $fontFallbacks;
    color: $red;
    background-color: black;
    font-size: 2rem;
}

.svg__icon {
    fill: $red;
    height: 5rem;
    width: 5rem;
}