// styles default eventhop buttons
.button { 
    padding: 1.5rem;
    cursor: pointer;
    border: none;
    font-family: $headerFonts;
    color: $red;
    background-color: $bgBlack;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 600;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-sizing: border-box;
}

.button--main-create {
    width: 100%;
}

 // styles breaklines between segments
.breakline {
    height: 5rem;
    align-self: center;
    margin: 1.5rem 4rem;
    border-bottom: 1px solid $bgBlack;
    display: block;
    width: 70%;
}

// styles svg icons
.svg__icon {
    fill: $red;
    height: 5rem;
    width: 5rem;
}

// allows disabling of buttons/interactive elements
.h-disabled {
    pointer-events: none;
}

// hides element and doesn't preserve the space it was/is in
.h-hide {
    display: none
}

// button animations
.h-grow {
    transition: all .2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

.h-grow:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

// resizes image when appropriate, keeping the correct aspect ratio
.h-img-fluid {
    width: 100%;
    height: auto;
}

// aligns text to center
.h-center-text {
    text-align: center;
}


.h-bg-grey {
    background-color: $bgGrey;
}

// sass extensions
%nav__layout {
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

%locCard__headers {
    color: $red;
    opacity: 1.0;
    font-weight: 600;
}
%grid__center {
    display: grid;
    justify-items: center;
    align-items: center;
}

%flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}