// styles default eventhop buttons
.button { 
    cursor: pointer;
    border: none;
    font-family: $headerFonts, $fontFallbacks;
    color: $red;
    background-color: $bgBlack;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 600;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
 // styles breakliens between segments
.breakline {
    height: 5rem;
    align-self: center;
    margin: 1.5rem 4rem;
    border-bottom: 1px solid $bgBlack;
    display: block;
    width: 70%;
}

// styles svg icons
.svg__icon {
    fill: $red;
    height: 5rem;
    width: 5rem;
}

// allows disabling of buttons/interactive elements
.disabled {
    pointer-events: none;
}