html {
    overflow: hidden;
}

main {
    height: calc(100vh - 65.4333px);
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.hero__anchor {
    margin-top: 8rem;
}

.section {
    position: relative;
    height: auto;
    margin-top: 4rem;
}

.section--hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url("../img/photos/header-bg.jpg");
}

// styles div for bg image to fully cover from top center
.section--bg-img-cover {
    margin-top: 0;
    max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1.0;
}

.section--height-80 {
    height: 80%;
}

// styles divs containing group cards (group cards, event cards, create cards, etc)
.section__cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section__titles {
    padding-bottom: 3rem;
}

.section__text {
    font-family: $headerFonts;
    color: $bgBlack;
    font-size: 2rem;
}

.button--hero {
    border: 1px solid $bgBlack;
    padding: 1.5rem;
}

// The following selectors are layout selectors, each starting with an 'l' for recognizability

.l-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-flex-stretch {
    display: flex;
    flex: 0 0 33.333333%;
    flex-wrap: wrap;
    align-items: stretch;
}

.l-container {
    margin-right: auto;
    margin-left: auto
}






