html {
    overflow: hidden;
}

main {
    height: calc(100vh - 65.4333px);
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section__subtitle--hero {
    color: white;
    font-size: 4.8rem;
    margin-top: 0;
}

//* @at-root #{&} allows nesting of BEM blocks 

//~ The Section Block styles most of the divs pertaining to layout and structure throughout the site
.section {
    position: relative;
    height: auto;
    margin-top: 4rem;

    //~ SECTION ELEMENTS
    //~ (.section__element)
    @at-root #{&}__titles {
        padding-bottom: 3rem;
    }
    @at-root #{&}__text {
        font-family: $headerFonts;
        color: $bgBlack;
        font-size: 2rem;
    }
    @at-root #{&}__map {
        text-align: center;
        width: 100%;
        height: 80%;
    }
    @at-root #{&}__map-choose {
        width: 100%;
        text-align: center;
        align-items: stretch;
    }
    @at-root #{&}__map-btns {
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    @at-root #{&}__dev {
        width: 45%;
        text-align: center;
        margin-bottom: 8rem;
    }
    @at-root #{&}__portfolios {
        justify-content: center;
    }
    @at-root #{&}__portfolio {
        margin: 2rem;
    }
    @at-root #{&}__dev-role {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    @at-root #{&}__anchor {
        margin-top: 8rem;
    }
    @at-root #{&}__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 80%;
    }
    @at-root #{&}__dropdown {
        padding-top: 2rem;
        width: 100%;
    }
    @at-root #{&}__location {
        width: 30%;
        text-align: center;
    }
    @at-root #{&}__header {
        color: $red;
        opacity: 1.0;
        font-weight: 600;
        margin-bottom: 2rem;
        font-size: 3rem;
        text-decoration: underline;

        //~ SECTION__HEADER MODIFIERS
        //~ (.section__header--modifier)
        @at-root #{&}--inactive {
            color: $grey;
            font-weight: 400;
            opacity: 0.3;
            text-decoration: none;
        }
        @at-root #{&}--complete {
            text-decoration: none;
        }
    }
    @at-root #{&}__cards {
        // styles divs containing cards
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        //~ SECTION__CARDS MODIFIERS
        //~ (.section__cards--modifier)
        @at-root #{&}--events {
            // this div holds event/group cards
            box-sizing: border-box;
            justify-content: center;
            margin: 0 -1.5rem;
        }
    }
    
    //~ SECTION MODIFIERS 
    //~ (.section--modifier)
    @at-root #{&}--hero {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ), url("../img/photos/header-bg.jpg");
    }
    @at-root #{&}--contact {
        height: auto;
        background-image: url("../img/photos/map-image.jpg");
        background-position: center;
    }
    @at-root #{&}--bg-img-cover {
        // styles div for bg image to fully cover from top center
        margin-top: 0;
        max-width: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 1.0;
    }
    @at-root #{&}--height-80 {
        height: 80%;
    }
}

//~ LAYOUT SELECTORS
//~ (.l-layout)

.l-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-flex-stretch {
    display: flex;
    flex: 0 0 33.333333%;
    flex-wrap: wrap;
    align-items: stretch;
}

.l-container {
    margin-right: auto;
    margin-left: auto
}






