html {
    overflow: hidden;
}

main {
    height: calc(100vh - 65.4333px);
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

section {
    position: relative;
    height: 80%;
    margin-top: 4rem;
}

section.bg-grey {
    background-color: $bgGrey;
}

section .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero,
section.contact {
    margin-top: 0;
    .inner {
        max-width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    } 
}

section.hero .inner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url("../img/photos/header-bg.jpg");
    opacity: 1.0;
    .hero__section {
        a.hero__click--anchor {
            border: 1px solid $bgBlack;
            padding: 1.5rem;
        }
        .hero__title--click {
            margin-top: 8rem;
        }
    }
}

section.about {
    height: auto;
}

.section__titles {
    padding-bottom: 3rem;
}

.center__flex--column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.space__flex--row {
    display: flex;
    flex: 0 0 33.333333%;
    flex-wrap: wrap;
    align-items: stretch;
}

.container {
    margin-right: auto;
    margin-left: auto
}

.featuredEvents,
.popularGroups {
    height: auto;
}

.feat-events__section--events {
    width: 100%;
}






