@media (max-width: 1920px) {
    .l-container {
        width: 1890px;
    }
}

@media (min-width: 1200px) {
    .l-container {
        width: 1170px
    }
}

@media (max-width: 1199px) {
    .l-container {
        width: 970px
    }
    .section--about {
        height: auto;
    }
}

// resizes sign-up nav link before it gets wonky
@media (max-width: 1082px) {
    .nav__item--signup {
        width: 160px;
    }
}

@media (max-width: 992px) {
    .l-container {
        width: 750px
    }
    .form--contact {
        align-items: center;
        .form__inputs {
            flex-direction: column;
        }
        .form__submit {
            .btn--contact {
                width: 40%;
            }
        }
        
    }
    // TODO turn nav links into dropdown menu

}

@media (max-width: 767px) {
    .section--about {
        .l-container {
            width: auto;
        }
        .section__cards {
            flex-direction: column;
            align-items: center;
            .card--about {
                max-width: 100%;
                margin-bottom: 2rem;
            }
        }
    }

    .section__map-choose {
        .section__map-btns {
            padding-top: 3rem;
            padding-bottom: 3rem;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .btn--map {
                margin: 0.5rem 0;
                width: 50%;
            }
        }
        & .section__dropdown {
            .form__select {
                width: 50%;
            }
            .btn--map {
                width: 50%;
            }
        }
    }

    .l-container {
        width: 737px;
    }

    .form--login,
    .form--forgot,
    .form--register {
        .form__input {
            width: 90%;
        }
        .btn--submit {
            width: 60%;
        }
    }
}