.nav {
    padding: 15px 0px;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas: "logo pages user";
    justify-items: center;
    align-items: center;
    &__brand {
    
        
    }
    &__section {
        &--logo {
            
        }
        &--pages {
            justify-self: end;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        &--user {
            justify-self: end;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    &__item {
        padding: 10px 20px;
        
    }
    &__link {
        font-family: $headerFonts, $fontFallbacks;
        &--active,
        &:focus,
        &:hover {
            color: $red;
        } 
        &--logo {
            font-size: 2.2rem;
            font-family: $logoFont, $fontFallbacks;
            
        }
    }
}