
.nav {
    background-color: $bgBlack;
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas: "logo pages user";
    justify-items: center;
    align-items: center;
    border-bottom: 4px solid $red;
    &__section {
        &--pages,
        &--user {
            @extend %nav__layout;
        }
    }
    &__item {
        padding: 1rem 2rem;
    }
    &__link {
        font-family: $headerFonts;
        &--logo {
            font-size: 3.0rem;
            font-family: $logoFont;
        }
        &--signup {
            font-size: 1.9rem;
            padding: 1rem;
            border: 1px solid white;
            border-radius: 5px;
        }
        &--login {
            font-size: 1.5rem;
        }
        &--active,
        &:focus,
        &:hover {
            color: $red;
            border-color: $red;
        } 
    }
}