// Google Fonts
//@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat');

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$red: #db0011;
$primaryText: #647595;
$grey: #6c757d;
$yellow: #FFC40E;
$bgBlack: #212529;
$fontFallbacks: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$logoFont: 'Kaushan Script', cursive;
$headerFonts: 'Montserrat', sans-serif;
