
$red: #db0011;
$peach: #FF949D;
$primaryText: #647595;
$grey: #6c757d;
$yellow: #FFC40E;
$bgBlack: #212529;
$fontFallbacks: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$logoFont: 'Kaushan Script', cursive;
$headerFonts: 'Montserrat', sans-serif;
$rgbaRedSeven: rgba(255,255,255,0.7);
$rgbaRedNine: rgba(255,255,255,0.9);
