
$red: #db0011;
$peach: #FF949D;
$primaryText: #647595;
$grey: #6c757d;
$yellow: #FFC40E;
$bgBlack: #212529;
$fontFallbacks: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$logoFont: 'Kaushan Script', cursive;
$headerFonts: 'Montserrat', sans-serif;

// These rgba and gradients are mostly used in the create location cards
$rgbaBlackFive: rgba(33,37,41,0.5);
$rgbaBlackNine: rgba(33,37,41,0.9);
$rgbaRedEight: rgba(219,0,17,0.8);
$rgbaWhiteSeven: rgba(255,255,255,0.7);
$rgbaWhiteNine: rgba(255,255,255,0.9);
$bull: linear-gradient($rgbaWhiteSeven, $rgbaWhiteSeven), url("../img/icon/bull-city-white.png");
$bullFaint: linear-gradient($rgbaWhiteNine, $rgbaWhiteNine), url("../img/icon/bull-city-white.png");
$bullLocal: linear-gradient($rgbaWhiteSeven, $rgbaWhiteSeven), url("../img/icon/bull-local.png");
$bullLocalFaint: linear-gradient($rgbaWhiteNine, $rgbaWhiteNine), url("../img/icon/bull-local.png");
$shop: linear-gradient($rgbaWhiteSeven, $rgbaWhiteSeven), url("../img/icon/shop-durham.png");
$shopFaint: linear-gradient($rgbaWhiteNine, $rgbaWhiteNine), url("../img/icon/shop-durham.png");
